@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

/* Avoid zoom on double click iphone */
.disable-dbl-tap-zoom {
	touch-action: manipulation;
}

body {
	background-color: #33005f;
	position: static !important;
}

.articulo-animacion:hover {
	animation: jelly 0.5s;
}

html {
	scroll-behavior: smooth;
}

@keyframes jelly {
	25% {
		transform: scale(0.9, 1.1);
	}

	50% {
		transform: scale(1.1, 0.9);
	}

	75% {
		transform: scale(0.95, 1.05);
	}
}

.shadow-custom {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
