@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #33005f;
}

.articulo-animacion:hover {
	animation: jelly 0.5s;
}

@keyframes jelly {
	25% {
		transform: scale(0.9, 1.1);
	}

	50% {
		transform: scale(1.1, 0.9);
	}

	75% {
		transform: scale(0.95, 1.05);
	}
}
